# Config file .coveragerc

[report]
include =
    */stoqdrivers/*

omit =
    tests/*
    */__init__.py

# Regexes for lines to exclude from consideration
exclude_lines =
    # Don't complain about self-execute
    if __name__ == '__main__':
    # Don't complain about uninstalled packages
    except OSError as oserr:
    except NameError:
    except SyntaxError:
